*{
    margin:0;
    padding: 0;
}
body{
        font-family: "Grechen Fuemen", serif;
        font-weight: 400;
        font-style: normal; 
        background-color:lightseagreen;
    }
.titlebar{
        color: aliceblue;
        text-align: center;
}
.one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.one div{
    width: 200px;
    color: antiquewhite;
    margin: 20px;
    flex-basis: 20%;   
}
